.table-striped tbody tr:nth-of-type(odd) {
    background: white;
}

.table-striped tbody tr:nth-of-type(even) {
    background: white;
}

table.table-bordered.dataTable tbody td {
    padding: 8px 12px;
    font-size: 13px;
    color: #4d4c4b;
    vertical-align: middle;
}

table.table-bordered.dataTable th {
    padding: 8px 12px;
    font-size: 14px;
    background-color: var(--bs-theme-blue);
    color: #ffffff;
}

table.dataTable tbody td {
    padding: 8px 12px;
    font-size: 13px;
    color: #4d4c4b;
    vertical-align: middle;
}

table.dataTable th {
    padding: 8px 12px;
    font-size: 14px;
    background-color: var(--bs-theme-blue);
    color: #ffffff;
}

table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_asc:after,
table.dataTable>thead .sorting_desc:before,
table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_asc_disabled:after,
table.dataTable>thead .sorting_desc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:after {
    bottom: 9px;
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 0px;
    border-top-width: 0;
}

.table-image {
    height: 50px;
    overflow: hidden;
}

.table-image img {
    max-height: 46px;
    object-fit: cover;
    border: 1px solid #ced4da;
    padding: .125rem;
}


/* web */

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: white !important;
}


/* pagination */

.dataTables_info {
    font-size: 13px;
    font-weight: 400;
    color: #878787;
}

.dataTables_length label {
    font-size: 13px;
    color: #4d4c4b;
}

.dataTables_filter label {
    font-size: 13px;
    color: #4d4c4b;
}

.dataTables_filter input {
    font-size: 13px;
    color: #4d4c4b;
}

.dataTables_filter input:focus,
.dataTables_filter input:active {
    outline: 0;
    box-shadow: none;
    border-color: #004a89;
}

.paginate_button a {
    font-size: 13px;
}

.dataTables_scrollHeadInner,
.dataTables_info,
.dataTables_paginate {
    margin-top: 1rem !important;
}

.btn-table {
    font-size: 14px;
    padding: 4px 8px;
    font-weight: 500;
    line-height: 22px;
    border-radius: 5px;
    box-shadow: none;
    border: 0;
    transition: all .3s ease-in-out;
}

.table-section {
    /* height: 100vh; */
}