{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>

    .err{
        border:2px solid red;
    animation:shake 450ms
    }
    .success{
      border:2px solid #42ba96;
    animation:shake 500ms
    }
    @keyframes shake{25%{transform:translateX(4px)}50%{transform:translateX(-4px)}75%{transform:translateX(4px)}}
</style>  
</head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">SmileApiGame</a>
        <a class="navbar-brand">Total correct: <span id="correct_count">0</span></a>
        <a class="navbar-brand">Total Incorrect: <span id="incorrect_count">0</span></a>
        <input id="incorrect_input" value="0" hidden></input>
        <input id="correct_input" value="0" hidden></input>
          <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}">Logout</a>
      </nav>
      <center>
      <div class="card" style="width: 38rem; margin-top: 10px;">
        <img class="card-img-top" id="question_img" src="https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?w=2000" alt="Card image cap">
        <div class="card-body " style="border-top:1px solid #6c757d ;">
          <h4 class="card-text" id="question_text">What would be the answer for above question?.</h4>

          <input type="text" class="form-control" id="ans_inp" onchange="removeErr()">
        </br>
          <button type="submit" class="btn btn-outline-danger my-2 my-sm-0 " id="answer__text" onclick="handleSubmit()">Submit</button>
        </div>
      </div>
    </center>

<!-- Modal -->
<div class="modal" id="result_modal" tabindex="-1" role="dialog" aria-labelledby="result_modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title err" id="exampleModalLongTitle">Game result</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 id="result_body">.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="handleSubmit()">Play Again</button>
      </div>
    </div>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(document).ready(function() {
    
            $("#answer__text").effect("shake");
    
        });
    </script>
  </body>
</html>